# Django & Core
Django==5.0.7
djangorestframework==3.15.2
django-environ==0.11.2
python-decouple==3.8
Pillow==10.4.0

# Database
psycopg2-binary==2.9.9

# Redis & Celery
redis==5.0.8
celery==5.4.0
django-celery-beat==2.6.0
django-celery-results==2.5.1

# Web Scraping
beautifulsoup4==4.12.3
lxml==5.2.2
requests==2.32.3

# Telegram
telethon==1.36.0
python-telegram-bot==21.3

# AI & APIs
google-generativeai==0.7.2

# Production Server
gunicorn==22.0.0
whitenoise==6.7.0

# Utils
python-slugify==8.0.4
pytz==2024.1
